# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Build directories
build/
cmake-build-*/
forge-test/forge-client
.DS_Store

# Local Forge output
/forge-client
/forge-worker
/app
/dependency-app
/flag-app
/complex-app
/returned/
/received/
/worker-jobs/
/cache/
